.name-container {
  color: rgba(255, 255, 255, 0.58);
  width: 100%;
  /* font-size: 25.6vw; */
  font-size: 40.5vh;
  /* font-size: 492px; */
  text-transform: uppercase;
  margin: 0 120px;
  line-height: 0.8;
}
