@media screen and (max-width: 1700px) {

  .fs-16 {
    font-size: 14px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-20 {
    font-size: 18px;
  }

  .fs-22 {
    font-size: 20px;
  }

  .fs-24 {
    font-size: 22px;
  }

  .fs-30 {
    font-size: 28px;
  }

  .fs-34 {
    font-size: 30px;
  }

  .fs-36 {
    font-size: 34px;
  }

  .fs-40 {
    font-size: 30px;
  }

  .fs-48 {
    font-size: 44px;
  }

  .fs-50 {
    font-size: 40px;
  }

  .name-container {
    font-size: 35.5vh;
  }


  .mt-container img {
    /* width: 35%; */
    width: 57vh;
    left: 50.3%;
  }

  .footer-section .footer-item {
    margin-right: 80px;
  }

  .header-navigation .nav-left .nav-item {
    padding: 18px 15px;
  }

  .main-container {
    padding: 43px 100px;
  }

  .name-container {
    margin: 0 100px;
  }

  .mt-logo {
    height: 70px;
    width: 70px;
  }

}

@media screen and (max-width: 1450px) {

  body {
    font-size: 14px;
    cursor: url('/cursor_small.svg'), auto;

  }

  .fs-18 {
    font-size: 14px;
  }

  .fs-22 {
    font-size: 18px;
  }

  .fs-26 {
    font-size: 24px;
  }

  .fs-30 {
    font-size: 26px;
  }

  .fs-34 {
    font-size: 28px;
  }

  .fs-36 {
    font-size: 32px;
  }

  .fs-40 {
    font-size: 28px;
  }

  .fs-48 {
    font-size: 40px;
  }

  .fs-50 {
    font-size: 30px;
  }

  .footer-section .footer-item {
    margin-right: 60px;
  }

  .main-container {
    padding: 25px 80px;
  }

  .name-container {
    /*margin: 0 15%;*/
    /*width: 70%;*/

    margin: 0 80px;
    width: 100%;
    line-height: 0.9;
  }

  .mt-logo {
    height: 60px;
    width: 60px;
  }


  .header-navigation .nav-right .nav-item {
    padding: 13px 40px;
  }

  .name-container {
    font-size: 33.5vh;
  }

}

@media screen and (max-width: 1350px) {

  .fs-16 {
    font-size: 14px;
  }

  .fs-18 {
    font-size: 14px;
  }

  .fs-20 {
    font-size: 16px;
  }

  .fs-22 {
    font-size: 16px;
  }

  .fs-24 {
    font-size: 20px;
  }

  .fs-26 {
    font-size: 22px;
  }

  .fs-30 {
    font-size: 24px;
  }

  .fs-34 {
    font-size: 26px;
  }

  .fs-36 {
    font-size: 30px;
  }

  .fs-40 {
    font-size: 26px;
  }

  .fs-48 {
    font-size: 36px;
  }

  .fs-50 {
    font-size: 26px;
  }


  .name-container {
    font-size: 30.5vh;
  }

  .mt-container img {
    /* width: 35%; */
    width: 57vh;
  }


}
