@media screen and (max-width: 900px) {

  .fs-40 {
    font-size: 40px;
  }

  .header-responsive-container {
    display: flex;
  }

  .header-navigation {
    display: none;
  }

  .name-container {
    margin: 0 30px;
  }

  .name-container {
    font-size: 12.5vh !important;
    margin: 0 30px 40%;
  }

  .mt-container img {
    /* width: 35%; */
    width: 80%;
  }

  .mt-logo {
    height: 75px;
    width: auto;
  }

  .header-responsive-container {
    height: 75px;
    padding: 0 20px;
  }


}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 600px) {


}

@media screen and (max-width: 500px) {

  .name-container .surname {
    text-align: left;
  }

  .name-container {
    font-size: 29vw !important;
    margin: 0 20px 40%;
  }

}

@media screen and (max-width: 480px) {


}

@media screen and (max-width: 400px) {


}

@media screen and (max-width: 340px) {

  .name-container {
    font-size: 10.5vh !important;
    margin: 0 20px 40%;
  }

  .mt-logo {
    height: 60px;
  }

  .header-responsive-container {
    height: 60px;
  }

  .burger-menu .bar1, .burger-menu .bar2, .burger-menu .bar3 {
    height: 2px;
    margin: 3px 0;
  }

  .burger-menu.open .bar1, .burger-menu.open .bar2, .burger-menu.open .bar3 {
    height: 3px;
    margin: 6px 0;
  }

  .sidebar ul {
    top: -60px;
    padding: 70px 20px 20px 20px;
  }

}

@media screen and (max-height: 500px) {

}
