@media screen and (max-width: 900px) {

  .header-navigation {
    display: none;
  }

  .name-container {
    margin: 0 30px;
  }

  .name-container {
    font-size: 12.5vh !important;
    margin: 0 30px 40%;
  }

  .mt-container img {
    /* width: 35%; */
    width: 80%;
  }


}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 600px) {


}

@media screen and (max-width: 500px) {


}

@media screen and (max-width: 480px) {


}

@media screen and (max-width: 400px) {


}

@media screen and (max-width: 340px) {

  .name-container {
    font-size: 10.5vh !important;
    margin: 0 20px 40%;
  }

}

@media screen and (max-height: 500px) {

}
